<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Trabajo Implementacion</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Trabajo Implementacion</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/Fibonacci">Fibonacci</a></li>
                    <li><a href="/Factorial">Factorial</a></li>
                    <li><a href="/Triangulo">Triangulo</a></li>
                    <li><a href="/Circulo">Circulo</a></li>
                    <li><a href="/Rectangulo">Rectangulo</a></li>
                </ul>
            </div>
        </div>
    
        <div class="container">