<%- include('../_partials/_header'); -%>
    <div class="col-md-8">
        <div class="panel panel-default">
    
            <div class="panel-heading">
                <h3>Fibonacci</h3>
            </div>
            <div class="panel-body">
                <form class="form">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">#</span>
                        <input type="number" class="form-control" placeholder="N Number" name="Nnumber2" id="Number2" aria-describedby="basic-addon1" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">=</span>
                        <input type="text" class="form-control" placeholder="Result " id = 'result'  aria-describedby="basic-addon1" disabled width="auto" height="auto">
                    </div>
                    <br />
                    <input type="button" class="btn btn-default navbar-btn" value="Submit" onclick="fetchFibonacci()"/>
                    <script>
                        function fetchFibonacci(){
                            var nNumber = document.getElementById('Number2');
                            var data = {Nnumber2:nNumber.value}
                            data = new URLSearchParams(Object.entries(data)).toString()
                            fetch('calculos/CalcFibonacci',{
                                method: 'POST',
                                headers:{
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                },
                                body: data
                            }).then(res => res.json()).then(data => document.getElementById('result').value = data['result']).catch(err => console.log(err));
                        }
                    </script> 
                </form>
            </div>
        </div>
    </div>
<%- include ('../_partials/_footer'); -%>