<%- include('../_partials/_header'); -%>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Triangulo</h3>
            </div>
            <div class="panel-body">
                <form class="form">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">#</span>
                        <input type="number" step = "0.01" class="form-control" placeholder="Lado 1" name="lado1" id = "lado1" aria-describedby="basic-addon1" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4">#</span>
                        <input type="number" step = "0.01" class="form-control" placeholder="Lado 2" name="lado2" id = "lado2" aria-describedby="basic-addon1" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon5">#</span>
                        <input type="number" step = "0.01" class="form-control" placeholder="Lado 3" name="lado3" id = "lado3" aria-describedby="basic-addon1" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">=</span>
                        <input type="text" class="form-control" placeholder="Area " id = 'area'  aria-describedby="basic-addon1" disabled>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">=</span>
                        <input type="text" class="form-control" placeholder="Perimetro " id = 'Perimetro'  aria-describedby="basic-addon1" disabled>
                    </div>
                    <br />
                    <input type="button" class="btn btn-default navbar-btn" value="Submit" onclick="fetchTriangulo()"/>
                    <script>
                        function fetchTriangulo(){
                            var lado1 = document.getElementById('lado1');
                            var lado2 = document.getElementById('lado2');
                            var lado3 = document.getElementById('lado3');
                            var data = {
                                lado1:lado1.value,
                                lado2:lado2.value,
                                lado3:lado3.value
                            }
                            data = new URLSearchParams(Object.entries(data)).toString()
                            fetch('calculos/CalcTriangulo',{
                                method: 'POST',
                                headers:{
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                },
                                body: data
                            }).then(res => res.json()).then(data => {
                                document.getElementById('area').value = data['area'],
                                document.getElementById('Perimetro').value = data['perimetro']
                            }).catch(err => console.log(err));
                        }
                    </script> 
                </form>
            </div>
        </div>
    </div>
<%- include ('../_partials/_footer'); -%>